.all-prod-cart{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 30px;
    border: 1px solid black;
    width: 30dvw;
    margin: auto;
}

.inside-cart-prod{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

.blocker{
    display: none;
}