*{
    margin: 0px;
}

.main-header{
    width: 100dvw;
    height: 10dvh;
    background-color: black;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.inside-header{
    height: 10dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.list-class{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

a{
    text-decoration: none;
    color: white;
}
