
</head>
<body>
<header class="main-header">
    <div class="inside-header">
        <ul class="list-class">
            <li> <a href="/">Shop</a></li>
            <li><a href="/admin/form">Add Products</a></li>
            <li><a href="/admin/admin-contoller">Admin Products</a></li>
            <li><a href="/cart">Cart</a></li>
        </ul>
    </div>
</header>

